/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#jr_inner p {
  padding: 5px;
  margin: 0;
}

#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}

#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}

#jr_inner li a:hover {
  text-decoration: underline;
}

#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}

#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}

#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
/* png icons */
.ic {
  display: inline-block;
  vertical-align: top;
  font: normal normal normal 16px/1 inherit;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.ic--box:before {
  width: 163px;
  height: 128px;
  background: url(../img/sprite.png) 0px 0px no-repeat;
}

.ic--check:before {
  width: 22px;
  height: 17px;
  background: url(../img/sprite.png) 0px -138px no-repeat;
}

/* svg icons */
.svg {
  display: inline-block;
  vertical-align: top;
  font-weight: normal;
  line-height: 1;
  font-size: 16px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.svg--gift {
  width: 1.6175em;
  height: 2em;
}

.svg--kids {
  width: 2em;
  height: 1.63187em;
}

.svg--pic {
  width: 2em;
  height: 2em;
}

.svg--santa {
  width: 1.59438em;
  height: 2em;
}

.svg--snow-globe {
  width: 1.97063em;
  height: 2em;
}

.svg--timer {
  width: 1.79438em;
  height: 2em;
}

/* form */
.text-danger {
  color: #b94a48;
  text-align: left;
}

.form-group.has-error .form-control {
  border-color: #b94a48;
}

[type=submit]:disabled {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

/* modal */
.modal {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.modal.show {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-dialog {
  position: relative;
  margin: auto;
}

.html,
.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  min-height: 100vh;
}

.main {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

a,
button {
  outline: none !important;
}

a:hover, a:focus,
button:hover,
button:focus {
  outline: none !important;
}

/* heading */
.heading {
  position: relative;
  font: 500 26px/40px "PF Din Text Pro", sans-serif;
  color: #212121;
  text-align: center;
}

.heading--curl {
  padding-top: 42px;
}

.heading--curl:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 60px;
  height: 22px;
  background: url(../img/icons/curl.png) no-repeat 50% 50%;
  background-size: contain;
}

.heading--white {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .heading {
    font-size: 36px;
    line-height: 40px;
  }
}

/* button */
a,
button {
  outline: none;
}

a:hover, a:focus,
button:hover,
button:focus {
  outline: none;
}

.btn {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  padding: 10px 22px;
  border: 0 none;
  min-height: 61px;
  -webkit-box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5), inset 0 0 2px rgba(227, 145, 101, 0.29);
          box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5), inset 0 0 2px rgba(227, 145, 101, 0.29);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#bc692b), color-stop(35%, #cf752f), color-stop(78%, #f4ab59), to(#fcd29d));
  background-image: -webkit-linear-gradient(bottom, #bc692b 0%, #cf752f 35%, #f4ab59 78%, #fcd29d 100%);
  background-image: linear-gradient(to top, #bc692b 0%, #cf752f 35%, #f4ab59 78%, #fcd29d 100%);
  background-position: 50% 0%;
  -webkit-border-radius: 61px;
          border-radius: 61px;
  white-space: normal;
  font: 700 18px/24px "PF Din Text Pro", sans-serif;
  text-shadow: 0 1px 0 #853e09, 0 0 29px rgba(255, 255, 255, 0.35);
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.btn:before, .btn:after {
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  -webkit-border-radius: inherit;
          border-radius: inherit;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  z-index: -1;
}

.btn:before {
  bottom: -10px;
  width: 100%;
  -webkit-box-shadow: 0 1px 21px rgba(0, 0, 0, 0.13);
          box-shadow: 0 1px 21px rgba(0, 0, 0, 0.13);
  border: 1px solid #c47b54;
  background-color: #d28743;
}

.btn:after {
  bottom: -10px;
  width: -webkit-calc(100% - 15px);
  width: calc(100% - 15px);
  -webkit-box-shadow: 0 15px 51px rgba(250, 182, 85, 0.7);
          box-shadow: 0 15px 51px rgba(250, 182, 85, 0.7);
  z-index: -2;
}

.btn:hover, .btn:focus {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#bc692b), color-stop(35%, #cf752f), color-stop(78%, #f4ab59), to(#fcd29d)) !important;
  background-image: -webkit-linear-gradient(bottom, #bc692b 0%, #cf752f 35%, #f4ab59 78%, #fcd29d 100%) !important;
  background-image: linear-gradient(to top, #bc692b 0%, #cf752f 35%, #f4ab59 78%, #fcd29d 100%) !important;
  background-position: 50% 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  text-decoration: none;
}

.btn:active:before, .btn:active:after {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}

.btn--size {
  width: 100%;
}

.btn--sm {
  max-width: 220px;
}

.btn-groups {
  position: relative;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .btn {
    font-size: 20px;
    line-height: 26px;
  }
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
/* ------------------------------------------ */
/* S E C T I O N    H E A D E R    S T Y L E  */
/* ------------------------------------------ */
.header {
  position: relative;
  background: url(../img/headerbg.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 15px;
}

.logo__image {
  text-align: center;
  margin-bottom: 10px;
}

.logo__img {
  display: inline-block;
}

.logo__text {
  font: 400 14px/21px "PF Din Text Pro", sans-serif;
  color: #fff;
  text-align: center;
}

.h-call {
  margin-bottom: 15px;
}

.h-call__number {
  display: inline-block;
  font: 400 22px/24px "PF Din Text Pro", sans-serif;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.h-call__number:hover, .h-call__number:focus {
  text-decoration: none;
  color: #fab655;
}

.h-call__button {
  display: inline-block;
  font: 500 17px/21px "PF Din Text Pro", sans-serif;
  text-shadow: 0 0 10px rgba(250, 182, 85, 0.4);
  color: #fab655;
  text-decoration: underline;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.h-content {
  padding-top: 180px;
}

.h-content__box {
  padding-top: 15px;
}

.h-content__image {
  text-align: center;
}

.h-content__img {
  display: inline-block;
}

.h-content__subtitle {
  font: 300 italic 28px/40px "PF Din Text Pro", sans-serif;
  color: #fff;
  text-align: center;
  margin: 0 0 25px;
}

.h-content__title {
  font: 500 28px/45px "PF Din Text Pro", sans-serif;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.h-content__btn {
  text-align: center;
}

.h-list {
  list-style-type: none;
  margin-bottom: 35px;
}

.h-list__item {
  position: relative;
  color: #fff;
  font: 400 14px/21px "PF Din Text Pro", sans-serif;
  margin-bottom: 20px;
}

.h-list__icon {
  position: absolute;
  top: 0;
  left: -30px;
}

@media only screen and (min-width: 768px) {
  .header__box {
    height: 100vh;
    min-height: 760px;
  }
  .menu {
    padding-top: 10px;
  }
  .logo__col {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .logo__text {
    text-align: left;
    position: relative;
    left: -15px;
  }
  .logo__image {
    margin-bottom: 0;
  }
  .h-call__number {
    font: 400 24px/24px "PF Din Text Pro", sans-serif;
  }
  .h-call__button {
    font: 500 19px/24px "PF Din Text Pro", sans-serif;
  }
  .h-content {
    padding-top: 100px;
    height: 100%;
  }
  .h-content__subtitle {
    margin-bottom: 10px;
  }
  .h-content__title {
    font: 500 35px/54px "PF Din Text Pro", sans-serif;
    margin-bottom: 30px;
  }
  .h-list__item {
    font: 400 24px/24px "PF Din Text Pro", sans-serif;
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 992px) {
  .h-content {
    padding-top: 150px;
  }
  .h-content__subtitle {
    text-align: left;
    font: 300 italic 26px/40px "PF Din Text Pro", sans-serif;
  }
  .h-content__title {
    text-align: left;
    font: 500 31px/54px "PF Din Text Pro", sans-serif;
  }
  .h-content__image {
    position: relative;
  }
  .h-content__img {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -120px;
    margin-left: -100px;
    max-width: none;
  }
  .h-list {
    padding-left: 75px;
  }
}

@media only screen and (min-width: 1200px) {
  .h-content__img {
    margin-left: -75px;
  }
  .h-content__subtitle {
    font: 300 italic 30px/40px "PF Din Text Pro", sans-serif;
  }
  .h-content__title {
    text-align: left;
    font: 500 38px/54px "PF Din Text Pro", sans-serif;
  }
}

/* ---------------------------------------- */
/* S E C T I O N    V I D E O    S T Y L E  */
/* ---------------------------------------- */
.video {
  position: relative;
  background: url(../img/sugrob1.png) no-repeat;
  background-size: contain;
  background-position: 50% bottom;
  padding-bottom: 140px;
}

.video:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 140px;
  z-index: 5;
  background: #fff;
}

.video__bg {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 279px;
  bottom: 0;
  left: 0;
  background: url(../img/sugrob2.png) no-repeat;
  background-size: cover;
  z-index: 20;
}

.video__row {
  height: 100%;
}

.video-text {
  padding-top: 30px;
  font: 400 28px/40px "PF Din Text Pro", sans-serif;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.video__box {
  position: relative;
}

.video__descr {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.video__text {
  font: 400 28px/40px "PF Din Text Pro", sans-serif;
  color: #fff;
  margin-bottom: 20px;
}

.video__play {
  position: relative;
  z-index: 30;
  display: inline-block;
  height: 84px;
  width: 84px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #f7d68f;
  -webkit-box-shadow: 2px 3.5px 0 rgba(250, 182, 85, 0.75), 0 0 55px rgba(250, 182, 85, 0.35);
          box-shadow: 2px 3.5px 0 rgba(250, 182, 85, 0.75), 0 0 55px rgba(250, 182, 85, 0.35);
  text-align: center;
}

.video__icon {
  color: #814f06;
  font-size: 22px;
  line-height: 82px;
  position: relative;
  right: -4px;
}

@media only screen and (min-width: 768px) {
  .video {
    padding-top: 110px;
  }
  .video__text {
    padding-right: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .video {
    padding-top: 40px;
  }
}

/* ---------------------------------------------- */
/* S E C T I O N    D I S C O U N T    S T Y L E  */
/* ---------------------------------------------- */
.discount {
  padding: 50px 0 283px;
  background-image: url(../img/letter.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.discount__heading {
  margin-bottom: 50px;
}

.discount__descr {
  margin-bottom: 26px;
}

.discount__price {
  margin-bottom: 26px;
}

.discount__countdown {
  margin-bottom: 46px;
  text-align: center;
}

.discount__notify {
  margin-bottom: 34px;
  text-align: center;
}

.descr {
  font: 500 24px/36px "PF Din Text Pro", sans-serif;
  color: #212121;
  text-align: center;
}

.descr--white {
  color: #fff;
}

.countdown__heading {
  margin-bottom: 17px;
}

.timer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timer__item {
  margin: 10px 5px;
}

.timer__time {
  margin-bottom: 11px;
  font: 400 58px/68px "Neumann", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.timer__text {
  display: block;
  font: 400 14px/16px "PF Din Text Pro", sans-serif;
  color: #fab655;
  text-transform: uppercase;
  text-align: center;
}

.cd-heading {
  font: 400 22px/36px "Neumann", sans-serif;
  color: #fab655;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price__item {
  position: relative;
  margin: 13px 15px;
  padding-bottom: 20px;
}

.price__value {
  margin-right: 6px;
  font: 400 48px/50px "Neumann", sans-serif;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  color: #e3e3e3;
}

.price__value:after {
  content: attr(data-label);
  position: absolute;
  margin-bottom: -4px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 2px 7px 3px;
  background-color: #e6ebed;
  font: 300 18px/20px "PF Din Text Pro", sans-serif;
  color: #212121;
  text-align: center;
  white-space: nowrap;
}

.price__currency {
  font: 400 16px/32px "Neumann", sans-serif;
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  color: #e3e3e3;
}

.notify {
  font: 500 20px/30px "PF Din Text Pro", sans-serif;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .discount {
    padding: 42px 0 228px;
  }
  .discount__heading {
    margin-bottom: 69px;
  }
  .discount__descr {
    margin-bottom: 24px;
    text-align: left;
  }
  .discount__countdown {
    margin-bottom: 23px;
    text-align: left;
  }
  .discount__notify {
    margin-bottom: 25px;
    text-align: left;
  }
  .timer {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .price__value {
    position: relative;
    margin: 0;
    font-size: 66px;
    line-height: 70px;
  }
  .price__value:after {
    margin-left: -10px;
    top: 22px;
    left: 100%;
    bottom: auto;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    font-size: 13px;
    line-height: 15px;
  }
  .price__currency {
    font-size: 21px;
    line-height: 23px;
  }
}

@media only screen and (min-width: 992px) {
  .price__item--2 {
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .price__item--3 {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .price__value {
    font-size: 92px;
    line-height: 96px;
  }
  .price__value:after {
    margin-left: -15px;
    padding: 5px 9px;
    top: 30px;
    font-size: 18px;
    line-height: 22px;
  }
  .price__currency {
    font-size: 30px;
    line-height: 34px;
  }
}

/* ---------------------------------------------- */
/* S E C T I O N    C O M M E N T S    S T Y L E  */
/* ---------------------------------------------- */
.comments {
  padding: 45px 0 50px;
}

.comments__heading {
  margin-bottom: 49px;
}

.comments__box {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .comments {
    padding: 12px 0;
  }
  .comments__heading {
    margin-bottom: 65px;
  }
}

/* -------------------------------------------- */
/* S E C T I O N    S E R V I C E    S T Y L E  */
/* -------------------------------------------- */
.double {
  background: url(../img/doublebg.png) no-repeat;
  background-size: cover;
}

.service {
  padding-top: 100px;
}

.service__heading {
  margin-bottom: 45px;
}

.sv-item {
  text-align: center;
  margin-bottom: 35px;
}

.sv-item__photo {
  position: relative;
  height: 128px;
  margin-bottom: 15px;
}

.sv-item__bg {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -81.5px;
}

.sv-item__icon {
  color: #be8739;
  position: relative;
  z-index: 10;
  margin-top: 34px;
  font-size: 26px;
}

.sv-item__text {
  font: 400 18px/27px "PF Din Text Pro", sans-serif;
  color: #212121;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .service {
    padding-bottom: 100px;
  }
  .service__heading {
    margin-bottom: 65px;
  }
}
