mixin svg(icon)
  svg(class="svg svg--" + icon, version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", role='img')&attributes(attributes)
    use(xlink:href='img/sprite.svg#' + icon)
