- var page = {}
- var hostname = "/" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.png",
          appleTouchIcon: "apple-touch-icon.png",
          description: "",
          keywords: "",
          title: "Workflow",
          openGraph: {
            title: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image:  hostname + "img/logo/microformat.png",
            "image:type": "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "img/logo/microformat.png"
          }
        },
      }, //- site
      index: {
        hostname: "index.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image:  hostname + "img/logo/microformat.png",
            "image:type": "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "img/logo/microformat.png"
          }
        },
        header: {
          menu: {
            logo: {
              img: {
                src: "img/logo/logo.png",
                alt: "logo"
              },  
              text: "Именное видеопоздравление для вашего ребенка от Дедушки Мороза"
            },
            number: {
              tel: "068 573 67 13",
              href: "tel:380685736713"
            },
            call: {
              text: "Заказать звонок",
              href: "#"
            }
          },
          content: {
            img: {
              src: "img/children.png",
              alt: "Дети"
            },
            title: "Удивите своего ребенка персональным видео-поздравлением от Дедушки Мороза!",
            subtitle: "Каждый ребенок в новогоднюю ночь мечтает о чуде...",
            list: [
              {
                text: "Обращение к вашему ребенку по имени"
              },
              {
                text: "Четыре варианта подарка! От 78 грн"
              },
              {
                text: "Бесплатная доставка при оплате онлайн"
              }
            ],
            btn: {
              target: "",
              text: "Посмотреть пример видео-поздравления"
            }
          }
        },
        video: {
          img: {
            src: "img/video.png",
            alt: "Видео-фон"
          },
          text: "Узнайте что такое видео поздравление от Дедушки Мороза 3 минуты"
        },
        preview: {
          heading: "Посмотрите как будет выглядеть видео поздравление для вашего ребенка совершенно бесплатно!",
          img: {
            src: "img/preview.png",
            alt: "Ребенок с планшетом"
          },
          form: {
            checkbox: {

            },
            selectM: {
              items: [
                "Абрам",
                "Авраам",
                "Адам",
                "Аким",
                "Алан",
                "Александр",
                "Алексей",
                "Альберт",
                "Альфред",
                "Анатолий",
                "Андрей",
                "Антон",
                "Антуан",
                "Аполлон",
                "Аристарх",
                "Аркадий",
                "Арсен",
                "Артем",
                "Артур",
                "Архип",
                "Афанасий",
                "Бенедикт",
                "Богдан",
                "Борис",
                "Бронислав",
                "Вадим",
                "Валентин",
                "Валерий",
                "Василий",
                "Венедикт",
                "Вениамин",
                "Виктор",
                "Вилен",
                "Виталий",
                "Влад",
                "Владимир",
                "Владислав",
                "Владлен",
                "Влас",
                "Вольдемар",
                "Всеволод",
                "Вячеслав",
                "Гавриил",
                "Гарри",
                "Геннадий",
                "Георгий",
                "Герасим",
                "Герман",
                "Глеб",
                "Гордей",
                "Григорий",
                "Давид",
                "Даниил",
                "Демид",
                "Демьян",
                "Денис",
                "Джозеф",
                "Джон",
                "Дмитрий",
                "Евгений",
                "Евдоким",
                "Егор",
                "Елисей",
                "Емельян",
                "Ефим",
                "Ефрем",
                "Захар",
                "Ибрагим",
                "Иван",
                "Игнат",
                "Игнатий",
                "Игорь",
                "Илларион",
                "Илья",
                "Иннокентий",
                "Иосиф",
                "Ираклий",
                "Исаак",
                "Казимир",
                "Камиль",
                "Карим",
                "Карл",
                "Касьян",
                "Ким",
                "Кир",
                "Кирилл",
                "Клим",
                "Климентий",
                "Константин",
                "Кузьма",
                "Лаврентий",
                "Лев",
                "Леонард",
                "Леонид",
                "Леонтий",
                "Лука",
                "Лукьян",
                "Любомир",
                "Людвиг",
                "Макар",
                "Максим",
                "Максимилиан",
                "Максимильян",
                "Малик",
                "Марат",
                "Марк",
                "Марсель",
                "Мартин",
                "Матвей",
                "Милан",
                "Милослав",
                "Мирон",
                "Мирослав",
                "Михаил",
                "Моисей",
                "Мстислав",
                "Назар",
                "Назарий",
                "Натан",
                "Наум",
                "Нестор",
                "Никита",
                "Никифор",
                "Николай",
                "Олесь",
                "Орест",
                "Осип",
                "Оскар",
                "Олег",
                "Остап",
                "Павел",
                "Пантелеймон",
                "Петр",
                "Платон",
                "Прохор",
                "Радик",
                "Радим",
                "Радислав",
                "Радомир",
                "Рамиль",
                "Ратмир",
                "Рафаэль",
                "Ринат",
                "Роберт",
                "Родион",
                "Роман",
                "Ростислав",
                "Рубен",
                "Рудольф",
                "Руслан",
                "Рустам",
                "Савва",
                "Савелий",
                "Святополк",
                "Святослав",
                "Севастьян",
                "Семен",
                "Серафим",
                "Сергей",
                "Соломон",
                "Станислав",
                "Степан",
                "Тамерлан",
                "Тарас",
                "Тимофей",
                "Тимур",
                "Тихан",
                "Трофим",
                "Фадей",
                "Федор",
                "Феликс",
                "Филипп",
                "Харитон",
                "Шамиль",
                "Эдуард",
                "Эльдар",
                "Эмиль",
                "Эрик",
                "Эрнест",
                "Юлиан",
                "Юлий",
                "Юрий",
                "Яков",
                "Ян",
                "Ярослав"
              ]
            },
            selectF: {
              items: [
                "Аврора",
                "Агата",
                "Агнесса",
                "Агния",
                "Ада",
                "Аделина",
                "Адель",
                "Аза",
                "Алевтина",
                "Алена",
                "Алина",
                "Алиса",
                "Алла",
                "Алсу",
                "Альбина",
                "Анастасия",
                "Ангелина",
                "Анжела",
                "Анжелика",
                "Анисия",
                "Анита",
                "Анна",
                "Антонина",
                "Анфиса",
                "Арина",
                "Астра",
                "Белла",
                "Берта",
                "Богдана",
                "Борислава",
                "Бронислава",
                "Валентина",
                "Валерия",
                "Варвара",
                "Василина",
                "Василиса",
                "Вера",
                "Вероника",
                "Виктория",
                "Вилена",
                "Виола",
                "Виолетта",
                "Виталина",
                "Влада",
                "Владислава",
                "Галина",
                "Ганна",
                "Глория",
                "Гульнара",
                "Дана",
                "Дарина",
                "Дарья",
                "Дарьяна",
                "Декабрина",
                "Джульетта",
                "Диана",
                "Дина",
                "Динара",
                "Ева",
                "Евгения",
                "Евдокия",
                "Екатерина",
                "Елена",
                "Елизавета",
                "Жанна",
                "Зарина",
                "Зинаида",
                "Злата",
                "Зоя",
                "Иванна",
                "Ида",
                "Илона",
                "Инга",
                "Инесса",
                "Инна",
                "Ирина",
                "Камила",
                "Камилла",
                "Карина",
                "Каролина",
                "Катерина",
                "Кира",
                "Клавдия",
                "Клара",
                "Клеопатра",
                "Констанция",
                "Кристина",
                "Ксения",
                "Лада",
                "Лариса",
                "Лейла",
                "Леонида",
                "Леся",
                "Лиана",
                "Лидия",
                "Лилия",
                "Лия",
                "Лолита",
                "Любовь",
                "Людмила",
                "Магда",
                "Магдалина",
                "Мадина",
                "Майя",
                "Мальвина",
                "Маргарита",
                "Мари",
                "Марианна",
                "Марина",
                "Мария",
                "Марта",
                "Марфа",
                "Марьяна",
                "Медина",
                "Мелания",
                "Мила",
                "Милана",
                "Милена",
                "Мирра",
                "Надежда",
                "Настасья",
                "Наталия",
                "Наталья",
                "Неля",
                "Ника",
                "Нина",
                "Нинель",
                "Нонна",
                "Нора",
                "Оксана",
                "Олеся",
                "Ольга",
                "Павлина",
                "Полина",
                "Рада",
                "Раиса",
                "Регина",
                "Рената",
                "Римма",
                "Роза",
                "Розалия",
                "Розана",
                "Роксана",
                "Рузана",
                "Руслана",
                "Сабина",
                "Саломея",
                "Сарра",
                "Светлана",
                "Светослава",
                "Селена",
                "Серафима",
                "Слава",
                "Снежана",
                "София",
                "Станислава",
                "Стася",
                "Стелла",
                "Стефания",
                "Сюзанна",
                "Таисия",
                "Тамара",
                "Тамила",
                "Татьяна",
                "Ульяна",
                "Фаина",
                "Фелиция",
                "Флора",
                "Христина",
                "Эвелина",
                "Элеонора",
                "Элина",
                "Эльвира",
                "Эльза",
                "Эльмира",
                "Эмилия",
                "Эмма",
                "Эрика",
                "Юлиана",
                "Юлия",
                "Юнона",
                "Яна",
                "Янина",
                "Ярослава"
              ]
            },
            email: {
              placeholder: "Введите ваш E-mail"
            },
            submit: {
              text: "Посмотреть фрагмент поздравления",
              value: "Как будет выглядеть",
              loading: "<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется..."
            },
            info: {
              text: "Что делать, если я хочу поздравить <br/>двух детей в одном видео?"
            }
          }
        },
        discount: {
          heading: "Экономьте больше заказав сегодня!",
          descr: "Чем ближе новый год, тем больше хлопот у Дедушки Мороза, поэтому стоимость подарка возрастает каждые 7 дней!",
          timer: {
            heading: "До повышения цены:",
            delimeter: ":",
            days: {
              number: "5",
              text: "дней"
            },
            hours: {
              number: "17",
              text: "часов"
            },
            minutes: {
              number: "15",
              text: "минут"
            }
          },
          notify: "Жмите на кнопку чтобы перейти к оформлению заказа и воспользоваться лучшей ценой!",
          btn: {
            text: "Оформить заказ <nobr>по выгодной цене</nobr>"
          },
          price: [
            {
              number: "240",
              currency: "грн",
              text: "С 27 декабря"
            },
            {
              number: "138",
              currency: "грн",
              text: "С 10 ноября"
            },
            {
              number: "114",
              currency: "грн",
              text: "Цена сегодня:"
            },
          ]
        },
        comments: {
          heading: "Отзывы родителей и их <br class=\"d-md-none\"/>счастливых <br class=\"d-none d-md-block d-lg-none\"/>детей <nobr>за 2017 год</nobr>"
        },
        service: {
          heading: "Видео-поздравление от Дедушки <br class=\"d-none d-md-block\"/>Мороза — подарок, который запомнится!",
          items: [
            {
              icon: "timer",
              text: "Вы получите видео <br/>в течении 15 минут"
            },
            {
              icon: "santa",
              text: "Дедушка 3 раза назовет <br/>Вашего ребенка по имени"
            },
            {
              icon: "kids",
              text: "Видео может содержать <br/>имена сразу 2 детей"
            },
            {
              icon: "snow-globe",
              text: "Это сказка, в которую <br/>приятно верить"
            },
            {
              icon: "pic",
              text: "Сказочный персонаж посмотрит <br/>фото и похвалит ребенка"
            },
            {
              icon: "gift",
              text: "4 варианта подарочных <br/>комплекта на Ваш выбор"
            },
          ]
        }
      }, //- index

    }
