- var page = {}
- var hostname = "/" //- site domen name

- 
  var content = 
    {
      site: {
        hostname: hostname, //- site domen name
        author: "Tagopen",
        meta: {
          charset: "utf-8",
          favicon: "favicon.png",
          appleTouchIcon: "apple-touch-icon.png",
          description: "",
          keywords: "",
          title: "Workflow",
          openGraph: {
            title: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image:  hostname + "img/logo/microformat.png",
            "image:type": "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "img/logo/microformat.png"
          }
        },
        nav: {
          links: [
            {
              href: "/link1",
              displayName: "Link 1"
            },

            {
              href: "/link2",
              displayName: "Link 2"
            }
          ]
        },
        navRight: {
          links: [
            {
              href: "/link3",
              displayName: "Link 3"
            },

            {
              href: "/link4",
              displayName: "Link 4"
            },
          ]
        }
      }, //- site
      index: {
        hostname: "index.html",
        title: "Главная страница",
        meta: {
          description: "",
          keywords: "",
          openGraph: {
            title: "Site name",
            description: "Описание сайта",
            type: "website",
            locale: "ru_RU",
            image:  hostname + "img/logo/microformat.png",
            "image:type": "image/png",
            url: hostname
          },
          twitter: {
            card: "summary",
            site: "@flickr",
            title: "My Site",
            description: "My Site is cool",
            image: hostname + "img/logo/microformat.png"
          }
        },
        header: {
          menu: {
            logo: {
              img: {
                src: "img/logo/logo.png",
                alt: "logo"
              },  
              text: "Именное видеопоздравление для вашего ребенка от Дедушки Мороза"
            },
            number: {
              tel: "068 573 67 13",
              href: "tel:380685736713"
            },
            call: {
              text: "Заказать звонок",
              href: "#"
            }
          },
          content: {
            img: {
              src: "img/children.png",
              alt: "Дети"
            },
            title: "Удивите своего ребенка персональным видео-поздравлением от Дедушки Мороза!",
            subtitle: "Каждый ребенок в новогоднюю ночь мечтает о чуде...",
            list: [
              {
                text: "Обращение к вашему ребенку по имени"
              },
              {
                text: "Четыре варианта подарка! От 78 грн"
              },
              {
                text: "Бесплатная доставка при оплате онлайн"
              }
            ],
            btn: {
              target: "",
              text: "Посмотреть пример видео-поздравления"
            }
          }
        },
        video: {
          img: {
            src: "img/video.png",
            alt: "Видео-фон"
          },
          text: "Узнайте что такое видео поздравление от Дедушки Мороза 3 минуты"
        },
        discount: {
          heading: "Экономьте больше заказав сегодня!",
          descr: "Чем ближе новый год, тем больше хлопот у Дедушки Мороза, поэтому стоимость подарка возрастает каждые 7 дней!",
          timer: {
            heading: "До повышения цены:",
            delimeter: ":",
            days: {
              number: "5",
              text: "дней"
            },
            hours: {
              number: "17",
              text: "часов"
            },
            minutes: {
              number: "15",
              text: "минут"
            }
          },
          notify: "Жмите на кнопку чтобы перейти к оформлению заказа и воспользоваться лучшей ценой!",
          btn: {
            text: "Оформить заказ <nobr>по выгодной цене</nobr>"
          },
          price: [
            {
              number: "240",
              currency: "грн",
              text: "С 27 декабря"
            },
            {
              number: "138",
              currency: "грн",
              text: "С 10 ноября"
            },
            {
              number: "114",
              currency: "грн",
              text: "Цена сегодня:"
            },
          ]
        },
        comments: {
          heading: "Отзывы родителей и их <br class=\"d-md-none\"/>счастливых <br class=\"d-none d-md-block d-lg-none\"/>детей <nobr>за 2017 год</nobr>"
        }
      }, //- index

    }
