section.comments
  .container
    .row.justify-content-around
      .col-24
        h2.heading.heading--curl.comments__heading!= page.comments.heading
      .col-24
        .comments__box
          .fb-comment-embed(data-href='//www.facebook.com/ekaterina.pavliuk/activity/816341538530119?comment_id=816342095196730', data-width='720',  data-include-parent='false', numposts='5')