section.comments
  .container
    .row.justify-content-around
      .col-24
        h2.heading.heading--curl.comments__heading!= page.comments.heading
      .col-24
        .comments__box
          iframe(src='//www.displaysocialmedia.com/app/embed/index.php?embed_id=5042', frameborder='0', width='100%', height='768')

