section.comments
  .container
    .row.justify-content-around
      .col-24
        h2.heading.heading--curl.comments__heading!= page.comments.heading
      .col-24
        .comments__box
          iframe(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fukrxenia%2Fposts%2F1686942961379685%3A0&width=720', width='720', height='449', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true', data-show-text="false")
          iframe(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D643906779330999%26id%3D100011350496585%26substory_index%3D0&width=720', width='720', height='461', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
          iframe(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D160454914542259%26id%3D100017332535862%26substory_index%3D0&width=720', width='720', height='499', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
          iframe(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D820572198109309%26id%3D100004696098951%26substory_index%3D0&width=720', width='720', height='430', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
          iframe(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D501739700181515%26id%3D100010364672209%26substory_index%3D0&width=720', width='720', height='430', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
          iframe(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSamarskiy.S%2Fposts%2F1499299050107938%3A0&width=720', width='720', height='411', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
          iframe(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fzmielena%2Fposts%2F1679997712039188%3A0&width=720', width='720', height='392', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
          iframe(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fgrishnyaevatommy%2Fposts%2F834746806707663%3A0&width=720', width='720', height='392', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
          iframe(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fgrishnyaevatommy%2Fposts%2F834746806707663%3A0&width=720', width='720', height='392', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
          iframe(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D283821425449852%26id%3D100014659892701%26substory_index%3D0&width=720', width='720', height='354', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
          iframe(src='https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D1876121029068993%26id%3D100000133413756%26substory_index%3D0&width=720', width='720', height='335', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')



          .fb-comment-embed(data-href='//www.facebook.com/ekaterina.pavliuk/activity/816341538530119?comment_id=816342095196730', data-width='720',  data-include-parent='false', numposts='5')