section.comments
  .container
    .row.justify-content-around
      .col-24
        h2.heading.heading--curl.comments__heading!= page.comments.heading
      .col-24
        .comments__box
          .fb-comment-embed(data-href='https://www.facebook.com/zuck/posts/10102735452532991?comment_id=1070233703036185', data-width='720',  data-include-parent='false', numposts='5')

