section.example
  .container
    .row.justify-content-end.justify-content-lg-start.align-items-center.text-center.text-md-left
      .col-24.col-md-auto.offset-lg-2.order-1
        .example__video.vd-video
          img.img-fluid.vd-video__img(src!= page.example.img.src, alt!= page.example.img.alt)
          .vd-video__descr
            a.vd-video__play.mp-play(data-toggle="modal" href="#video__modal")
              i.fa.fa-play.mp-play__icon(aria-hidden="true") 
      .col-24.col-md-auto.offset-lg-1.order-md-1
        h2.heading.example__heading!= page.example.heading
          br
          i.ic.ic--linear.heading__line
        .year.example__year
          span.year__text.hidden-accessible!= page.example.year
          i.ic.ic--year.year__icon
