footer.footer
  .container
    .row.justify-content-center.justify-content-md-between.align-items-center
      .col-24.col-md.col-lg-auto
        .logo.footer__logo
          .row
            .col-24.col-md-auto
              .logo__image
                img.img-fluid.logo__img(src!= page.header.menu.logo.img.src, alt!= page.header.menu.logo.img.alt)
            .col-24.col-md-auto.logo__col.align-items-center  
              p.logo__text!= page.header.menu.logo.text
      //- .col-24.col-md.col-lg-auto.order-last.order-md-unordered
      //-   .copyright.text-center!= page.footer.copyright
      //-   .copyright.text-center!= page.footer.copyright2
      .col-24.col-md.col-lg-5
        .h-call.footer__call
          .row.justify-content-between.align-items-end
            .col-auto.col-md-24.text-left.text-md-right
              a.h-call__number(href!= page.header.menu.number.href)!=page.header.menu.number.tel
            .col-auto.col-md-24.text-right  
              a.h-call__button(href!= page.header.menu.call.href, data-toggle="modal")!= page.header.menu.call.text  
