form.form(action='mail/mail.php', method='post', novalidate)

  .tabs(data-tabs="test-tabs")
    .tabs__control.tabs-control
      .tabs-control__item
        a.tabs-control__link.tabs-control__link--active(href="#", data-tabs-control="index", data-tabs-toggle='test-tabs', data-tabs-index="0") Шаг 1
      .tabs-control__item
        a.tabs-control__link(href="#", data-tabs-control="index", data-tabs-toggle='test-tabs', data-tabs-index="1") Шаг 2
      .tabs-control__item
        a.tabs-control__link(href="#", data-tabs-control="index", data-tabs-toggle='test-tabs', data-tabs-index="2") Шаг 3
    .tabs__item.tabs__item--active
      .row
        .col-24
          h2.heading.heading--left Сколько детей нужно поздравить?
        .col-24
          .row
            .col-auto
              label.radio-btn
                input#rbtn11.radio-btn__control(type='radio', name='childrean', data-childrean='1')
                label.radio-btn__box(for='rbtn11')
                  i.radio-btn__icon 
                  | 1 ребенок
            .col-auto
              label.radio-btn
                input#rbtn12.radio-btn__control(type='radio', name='childrean', data-childrean='2')
                label.radio-btn__box(for='rbtn12')
                  i.radio-btn__icon
                  | 2 ребенка
      .row
        .col-24.col-md-12(data-childrean-item="0")
          fieldset#new1.form-group
            select.form-control.form-control--select.select(data-placeholder='Выберите имя из списка', required)
              option
              option(value='1') Абрам
              option(value='2') Авраам
            input.form-control(type='text', name='new_firstname_1', placeholder='Введите новое имя', required)

          fieldset.form-group
            select.form-control.form-control--select.select(data-placeholder='Выберите пол ребенка', required)
              option
              option(value='1') Мужской
              option(value='2') Женский
          label.radio-btn
            input#rbtn21.radio-btn__control(type='checkbox', name='new_name1', data-new-name="#new1")
            label.radio-btn__box(for='rbtn21')
              i.radio-btn__icon
              | Добавить имя ребенка

          .btn-groups.text-left
            button.btn.btn--default.btn--sm(data-tabs-control='next', data-tabs-toggle='test-tabs') Далее

        .col-24.col-md-12(data-childrean-item="1")
          fieldset#new2.form-group
            select.form-control.form-control--select.select(data-placeholder='Выберите имя из списка', required)
              option
              option(value='1') Аврора
              option(value='2') Агата
            input.form-control(type='text', name='new_firstname_1', placeholder='Введите новое имя', required)
          fieldset.form-group
            select.form-control.form-control--select.select(data-placeholder='Выберите пол ребенка', required)
              option
              option(value='1') Мужской
              option(value='2') Женский
          label.radio-btn
            input#rbtn22.radio-btn__control(type='checkbox', name='new_name2', data-new-name='#new2')
            label.radio-btn__box(for='rbtn22')
              i.radio-btn__icon
              | Добавить имя ребенка
    .tabs__item
      .row
        .col-24.col-md-12
          .img-container
            img#image.img-fluid(src='images/picture.jpg')
        .col-24.col-md-12
          .preview-lg
      .row
        .col-24
          .btns-group
            button.btn.btn--default(type='button', data-method='rotate', data-option='-90', title='Rotate Left')
              span.docs-tooltip(data-toggle='tooltip', data-animation='false', title='$().cropper("rotate", -90)')
                span.fa.fa-rotate-left
            button.btn.btn--default(type='button', data-method='rotate', data-option='90', title='Rotate Right')
              span.docs-tooltip(data-toggle='tooltip', data-animation='false', title='$().cropper("rotate", 90)')
                span.fa.fa-rotate-right
            label.btn.btn--default(for='inputImage', title='Upload image file')
              input#inputImage.sr-only(type='file', name='file', accept='.jpg,.jpeg,.png,.gif,.bmp,.tiff')
              span.docs-tooltip(data-toggle='tooltip', data-animation='false', title='Import image with Blob URLs')
                span.fa.fa-upload
            button.btn.btn--default(type='button', data-method='getCroppedCanvas', data-option='{ "maxWidth": 4096, "maxHeight": 4096 }')
              span.docs-tooltip(data-toggle='tooltip', data-animation='false', title='$().cropper("getCroppedCanvas", { maxWidth: 4096, maxHeight: 4096 })')
                | Get Cropped Canvas
          .btn-group(data-toggle='buttons')
            label.btn.btn.btn--default.active
              input#aspectRatio0.sr-only(type='radio', name='aspectRatio', value='1.5')
              span.docs-tooltip(data-toggle='tooltip', data-animation='false', title='aspectRatio: 3 / 2')
                | 3:2
            label.btn.btn.btn--default
              input#aspectRatio1.sr-only(type='radio', name='aspectRatio', value='0.66666666666')
              span.docs-tooltip(data-toggle='tooltip', data-animation='false', title='aspectRatio: 2 / 3')
                | 2:3
        // /.docs-toggles

      .btn-groups.text-left
        button.btn.btn--default.btn--sm(data-tabs-control='next', data-tabs-toggle='test-tabs') Далее
        a.quiz__btn.quiz__btn--prev.test__btn--prev(href='#', data-tabs-control='prev', data-tabs-toggle='test-tabs') Назад
    .tabs__item
       a.quiz__btn.quiz__btn--prev.test__btn--prev(href='#', data-tabs-control='prev', data-tabs-toggle='test-tabs') Назад