article.split.split--2
  i.d-none.d-xl-inline-block.ic.ic--gift-box2.split__icon.split__icon--1
  i.d-none.d-xl-inline-block.ic.ic--gift-box3.split__icon.split__icon--2
  include _gift.pug
  include _example.pug
