article.split
  .snowflake
    i.ic.ic--snowflake.snowflake__icon.snowflake__icon--1
    i.ic.ic--snowflake-2.snowflake__icon.snowflake__icon--2
    i.ic.ic--snowflake-3.snowflake__icon.snowflake__icon--3
    i.ic.ic--snowflake-4.snowflake__icon.snowflake__icon--3
    i.ic.ic--snowflake-5.snowflake__icon.snowflake__icon--5
    i.ic.ic--snowflake-6.snowflake__icon.snowflake__icon--6
    i.ic.ic--snowflake-7.snowflake__icon.snowflake__icon--7
    i.ic.ic--snowflake-8.snowflake__icon.snowflake__icon--8
    i.ic.ic--snowflake-10.snowflake__icon.snowflake__icon--9
    i.ic.ic--snowflake-11.snowflake__icon.snowflake__icon--10
    i.ic.ic--snowflake-12.snowflake__icon.snowflake__icon--11
  include _about.pug
  include _preview.pug
