#myModal.modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
  .modal-dialog.modal-lg(role='document')
    .modal-content.docs-buttons
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title Загрузка фотографии
      .modal-body
        p(style='    display: block;\
        text-align: center;\
        font-size: 20px;\
        /* margin-top: 10px; */\
        margin-bottom: 20px;\
        color: #0d395e;') Выберите нужную область фотографии и нажмите "Готово".
        .container-fluid
          .row
            .col-md-12
              // <h3 class="page-header">Demo:</h3>
              .img-container
                img#image(src='', alt='Picture')
          .row
            .col-md-12
              // <h3 class="page-header">Toolbar:</h3>
              // Zoom in/out
              button.btn.btn-primary(type='button', data-method='zoom', data-option='0.1', title='Zoom In')
                span.docs-tooltip(data-toggle='tooltip', title='Zoom in')
                  span.fa.fa-search-plus
              button.btn.btn-primary(type='button', data-method='zoom', data-option='-0.1', title='Zoom Out')
                span.docs-tooltip(data-toggle='tooltip', title='Zoom out')
                  span.fa.fa-search-minus
              // Rotate
              button.btn.btn-primary(type='button', data-method='rotate', data-option='-90', title='Rotate Left')
                span.docs-tooltip(data-toggle='tooltip', title='Rotate -90 deg')
                  span.fa.fa-rotate-left
              button.btn.btn-primary(type='button', data-method='rotate', data-option='90', title='Rotate Right')
                span.docs-tooltip(data-toggle='tooltip', title='Rotate 90 deg')
                  span.fa.fa-rotate-right
              button.btn.btn-green.pull-right(type='button', data-method='getCroppedCanvas')
                span.docs-tooltip(data-toggle='tooltip', title='Готово')
                  | Готово
            // /.docs-buttons
form#createForm.main(method='post')
  .block-blue.page-title.clearfix(style='text-align: left; padding-left: 30px; padding-right: 30px; padding-top: 25px; padding-bottom: 20px;')
    a(href='/', style='display: inline-block; vertical-align: middle; float: left;')
      img(src='/assets/img/inner/logo.png', width='240', style='margin-top: -10px;')
    div(style='display: inline-block; vertical-align: middle; float: right; text-align: right; color: #0d395e; font-size: 18px;')
      | По всем вопросам пишите на почту:
      br
      |                     support@chudodetyam.ru
  .block-white.block-create
    h1 Дед мороз будет поздравлять мальчика!
    .create-frame
      img#frameImage(src='/dist/img/kid_male.jpg', width='212', height='273')
    .create-content
      span
        | Загрузите фотографию ребенка.
        br
        |                             Она появится в этой рамке.
      label#uploadBtn.btn.btn-green(href='#')
        span#uploadBtnText Загрузить фотографию
        input#inputImage.sr-only(type='file', name='file', accept='image/*')
      br
      small
        | *После создания видео, фото вашего ребенка
        br
        |                         автоматически удалится с нашего сервера.
        br
        |                         Мы гарантируем полную конфиденциальность.
  .block-blue.block-form
    h2 Заполните мини - анкету:
    //
      <div class="form-group" style="margin-top: 40px;">
      <div class="form-group-text">
      <span>Кем вы приходитесь ребенку?</span>
      <small>Это не влияет на сюжет видео-поздравления! В преддверии Нового Года мы розыграем сотни призов среди наших заказчиков!</small>
      </div>
      <div class="form-group-element">
      <select name="who_is">
      <option value="Мама">Мама</option>
      <option value="Папа">Папа</option>
      <option value="Дедушка">Дедушка</option>
      <option value="Бабушка">Бабушка</option>
      <option value="Тётя">Тётя</option>
      <option value="Дядя">Дядя</option>
      <option value="Другое">Другое</option>
      </select>
      </div>
      </div>
    input(type='hidden', name='who_is', value='')
    .form-group
      .form-group-text
        span Ваш телефон:
        small
          | Мы пришлем вам СМС-уведомление о готовности вашего заказа, а также пришлем ссылку на вашу интернет-открытку.
      .form-group-element
        .phone-input-group
          input#phonePart1.countryCode(type='text', placeholder='+7', name='CountryCode', autocomplete='off', value='+7')
          input#phonePart2.middleCode(type='number', min='1', max='999', placeholder='123', name='MiddleCode', autocomplete='off')
          input#phonePart3.mainPart(type='number', placeholder='4567890', name='MainPart', autocomplete='off')
          input#formattedPhone(type='hidden', name='formattedPhone', value='+79999999999')
    .form-group
      .form-group-text
        span Ваш Email:
        small
          | Почта, на которую придет ваше готовое видео-поздравление!
          br
          |                             Не допустите ошибок при вводе!
      .form-group-element
        input#emailInput(type='email', name='email', placeholder='support@chudodetyam.ru')
    span.conclude *Убедитесь, что все поля заполнены верно! 
  .block-white.block-footer
    input#photo1(type='hidden', name='photo1')
    input.btn.btn-green(type='submit', value='Посмотреть результат бесплатно')
    small.persdata
      | Нажимая кнопку «Подтверждаю», вы соглашаетесь на обработку
      a(href='/docs/personal', target='_blank') персональных данных
      | .