section.video
  .video__bg
  .container         
    .row.justify-content-center
      .col-24.col-lg-20
        .video__movie.vd-video.js-wow.fadeInUpBig
          img.img-fluid.vd-video__img(src!= page.video.img.src, alt!= page.video.img.alt)
          .vd-video__descr
            .row.align-items-center
              .col-24.col-md-12.text-center
                a.vd-video__play.mp-play(data-toggle="modal" href="#video__modal")
                  i.fa.fa-play.mp-play__icon(aria-hidden="true") 
              .col-24.col-md-12.hidden-sm-down.d-none.d-md-block.text-md-left
                .vd-video__text.gg-text.gg-text--white!= page.video.text
