// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$box-name: 'box'
$box-x: 185px
$box-y: 358px
$box-offset-x: -185px
$box-offset-y: -358px
$box-width: 163px
$box-height: 128px
$box-total-width: 653px
$box-total-height: 640px
$box-image: 'sprite.png'
$box: (185px, 358px, -185px, -358px, 163px, 128px, 653px, 640px, 'sprite.png', 'box', )
$candy-name: 'candy'
$candy-x: 0px
$candy-y: 506px
$candy-offset-x: 0px
$candy-offset-y: -506px
$candy-width: 109px
$candy-height: 134px
$candy-total-width: 653px
$candy-total-height: 640px
$candy-image: 'sprite.png'
$candy: (0px, 506px, 0px, -506px, 109px, 134px, 653px, 640px, 'sprite.png', 'candy', )
$check-name: 'check'
$check-x: 619px
$check-y: 328px
$check-offset-x: -619px
$check-offset-y: -328px
$check-width: 22px
$check-height: 17px
$check-total-width: 653px
$check-total-height: 640px
$check-image: 'sprite.png'
$check: (619px, 328px, -619px, -328px, 22px, 17px, 653px, 640px, 'sprite.png', 'check', )
$confetti-name: 'confetti'
$confetti-x: 548px
$confetti-y: 0px
$confetti-offset-x: -548px
$confetti-offset-y: 0px
$confetti-width: 105px
$confetti-height: 187px
$confetti-total-width: 653px
$confetti-total-height: 640px
$confetti-image: 'sprite.png'
$confetti: (548px, 0px, -548px, 0px, 105px, 187px, 653px, 640px, 'sprite.png', 'confetti', )
$linear-sm-name: 'linear-sm'
$linear-sm-x: 483px
$linear-sm-y: 358px
$linear-sm-offset-x: -483px
$linear-sm-offset-y: -358px
$linear-sm-width: 45px
$linear-sm-height: 8px
$linear-sm-total-width: 653px
$linear-sm-total-height: 640px
$linear-sm-image: 'sprite.png'
$linear-sm: (483px, 358px, -483px, -358px, 45px, 8px, 653px, 640px, 'sprite.png', 'linear-sm', )
$linear-name: 'linear'
$linear-x: 358px
$linear-y: 460px
$linear-offset-x: -358px
$linear-offset-y: -460px
$linear-width: 115px
$linear-height: 20px
$linear-total-width: 653px
$linear-total-height: 640px
$linear-image: 'sprite.png'
$linear: (358px, 460px, -358px, -460px, 115px, 20px, 653px, 640px, 'sprite.png', 'linear', )
$snowflake-10-name: 'snowflake-10'
$snowflake-10-x: 119px
$snowflake-10-y: 506px
$snowflake-10-offset-x: -119px
$snowflake-10-offset-y: -506px
$snowflake-10-width: 65px
$snowflake-10-height: 51px
$snowflake-10-total-width: 653px
$snowflake-10-total-height: 640px
$snowflake-10-image: 'sprite.png'
$snowflake-10: (119px, 506px, -119px, -506px, 65px, 51px, 653px, 640px, 'sprite.png', 'snowflake-10', )
$snowflake-11-name: 'snowflake-11'
$snowflake-11-x: 0px
$snowflake-11-y: 358px
$snowflake-11-offset-x: 0px
$snowflake-11-offset-y: -358px
$snowflake-11-width: 175px
$snowflake-11-height: 138px
$snowflake-11-total-width: 653px
$snowflake-11-total-height: 640px
$snowflake-11-image: 'sprite.png'
$snowflake-11: (0px, 358px, 0px, -358px, 175px, 138px, 653px, 640px, 'sprite.png', 'snowflake-11', )
$snowflake-12-name: 'snowflake-12'
$snowflake-12-x: 358px
$snowflake-12-y: 358px
$snowflake-12-offset-x: -358px
$snowflake-12-offset-y: -358px
$snowflake-12-width: 115px
$snowflake-12-height: 92px
$snowflake-12-total-width: 653px
$snowflake-12-total-height: 640px
$snowflake-12-image: 'sprite.png'
$snowflake-12: (358px, 358px, -358px, -358px, 115px, 92px, 653px, 640px, 'sprite.png', 'snowflake-12', )
$snowflake-2-name: 'snowflake-2'
$snowflake-2-x: 548px
$snowflake-2-y: 413px
$snowflake-2-offset-x: -548px
$snowflake-2-offset-y: -413px
$snowflake-2-width: 61px
$snowflake-2-height: 75px
$snowflake-2-total-width: 653px
$snowflake-2-total-height: 640px
$snowflake-2-image: 'sprite.png'
$snowflake-2: (548px, 413px, -548px, -413px, 61px, 75px, 653px, 640px, 'sprite.png', 'snowflake-2', )
$snowflake-3-name: 'snowflake-3'
$snowflake-3-x: 0px
$snowflake-3-y: 0px
$snowflake-3-offset-x: 0px
$snowflake-3-offset-y: 0px
$snowflake-3-width: 287px
$snowflake-3-height: 229px
$snowflake-3-total-width: 653px
$snowflake-3-total-height: 640px
$snowflake-3-image: 'sprite.png'
$snowflake-3: (0px, 0px, 0px, 0px, 287px, 229px, 653px, 640px, 'sprite.png', 'snowflake-3', )
$snowflake-4-name: 'snowflake-4'
$snowflake-4-x: 548px
$snowflake-4-y: 328px
$snowflake-4-offset-x: -548px
$snowflake-4-offset-y: -328px
$snowflake-4-width: 61px
$snowflake-4-height: 75px
$snowflake-4-total-width: 653px
$snowflake-4-total-height: 640px
$snowflake-4-image: 'sprite.png'
$snowflake-4: (548px, 328px, -548px, -328px, 61px, 75px, 653px, 640px, 'sprite.png', 'snowflake-4', )
$snowflake-5-name: 'snowflake-5'
$snowflake-5-x: 548px
$snowflake-5-y: 197px
$snowflake-5-offset-x: -548px
$snowflake-5-offset-y: -197px
$snowflake-5-width: 98px
$snowflake-5-height: 121px
$snowflake-5-total-width: 653px
$snowflake-5-total-height: 640px
$snowflake-5-image: 'sprite.png'
$snowflake-5: (548px, 197px, -548px, -197px, 98px, 121px, 653px, 640px, 'sprite.png', 'snowflake-5', )
$snowflake-6-name: 'snowflake-6'
$snowflake-6-x: 398px
$snowflake-6-y: 239px
$snowflake-6-offset-x: -398px
$snowflake-6-offset-y: -239px
$snowflake-6-width: 126px
$snowflake-6-height: 100px
$snowflake-6-total-width: 653px
$snowflake-6-total-height: 640px
$snowflake-6-image: 'sprite.png'
$snowflake-6: (398px, 239px, -398px, -239px, 126px, 100px, 653px, 640px, 'sprite.png', 'snowflake-6', )
$snowflake-7-name: 'snowflake-7'
$snowflake-7-x: 262px
$snowflake-7-y: 239px
$snowflake-7-offset-x: -262px
$snowflake-7-offset-y: -239px
$snowflake-7-width: 126px
$snowflake-7-height: 100px
$snowflake-7-total-width: 653px
$snowflake-7-total-height: 640px
$snowflake-7-image: 'sprite.png'
$snowflake-7: (262px, 239px, -262px, -239px, 126px, 100px, 653px, 640px, 'sprite.png', 'snowflake-7', )
$snowflake-8-name: 'snowflake-8'
$snowflake-8-x: 194px
$snowflake-8-y: 506px
$snowflake-8-offset-x: -194px
$snowflake-8-offset-y: -506px
$snowflake-8-width: 65px
$snowflake-8-height: 51px
$snowflake-8-total-width: 653px
$snowflake-8-total-height: 640px
$snowflake-8-image: 'sprite.png'
$snowflake-8: (194px, 506px, -194px, -506px, 65px, 51px, 653px, 640px, 'sprite.png', 'snowflake-8', )
$snowflake-name: 'snowflake'
$snowflake-x: 297px
$snowflake-y: 0px
$snowflake-offset-x: -297px
$snowflake-offset-y: 0px
$snowflake-width: 241px
$snowflake-height: 229px
$snowflake-total-width: 653px
$snowflake-total-height: 640px
$snowflake-image: 'sprite.png'
$snowflake: (297px, 0px, -297px, 0px, 241px, 229px, 653px, 640px, 'sprite.png', 'snowflake', )
$year-name: 'year'
$year-x: 0px
$year-y: 239px
$year-offset-x: 0px
$year-offset-y: -239px
$year-width: 252px
$year-height: 109px
$year-total-width: 653px
$year-total-height: 640px
$year-image: 'sprite.png'
$year: (0px, 239px, 0px, -239px, 252px, 109px, 653px, 640px, 'sprite.png', 'year', )
$spritesheet-width: 653px
$spritesheet-height: 640px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: ($box, $candy, $check, $confetti, $linear-sm, $linear, $snowflake-10, $snowflake-11, $snowflake-12, $snowflake-2, $snowflake-3, $snowflake-4, $snowflake-5, $snowflake-6, $snowflake-7, $snowflake-8, $snowflake, $year, )
$spritesheet: (653px, 640px, 'sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
