// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$ball-2-name: 'ball-2'
$ball-2-x: 1086px
$ball-2-y: 523px
$ball-2-offset-x: -1086px
$ball-2-offset-y: -523px
$ball-2-width: 251px
$ball-2-height: 220px
$ball-2-total-width: 1774px
$ball-2-total-height: 1623px
$ball-2-image: 'sprite.png'
$ball-2: (1086px, 523px, -1086px, -523px, 251px, 220px, 1774px, 1623px, 'sprite.png', 'ball-2', )
$ball-name: 'ball'
$ball-x: 1205px
$ball-y: 872px
$ball-offset-x: -1205px
$ball-offset-y: -872px
$ball-width: 101px
$ball-height: 118px
$ball-total-width: 1774px
$ball-total-height: 1623px
$ball-image: 'sprite.png'
$ball: (1205px, 872px, -1205px, -872px, 101px, 118px, 1774px, 1623px, 'sprite.png', 'ball', )
$box-name: 'box'
$box-x: 1524px
$box-y: 770px
$box-offset-x: -1524px
$box-offset-y: -770px
$box-width: 163px
$box-height: 128px
$box-total-width: 1774px
$box-total-height: 1623px
$box-image: 'sprite.png'
$box: (1524px, 770px, -1524px, -770px, 163px, 128px, 1774px, 1623px, 'sprite.png', 'box', )
$candy-name: 'candy'
$candy-x: 1086px
$candy-y: 872px
$candy-offset-x: -1086px
$candy-offset-y: -872px
$candy-width: 109px
$candy-height: 134px
$candy-total-width: 1774px
$candy-total-height: 1623px
$candy-image: 'sprite.png'
$candy: (1086px, 872px, -1086px, -872px, 109px, 134px, 1774px, 1623px, 'sprite.png', 'candy', )
$check-name: 'check'
$check-x: 1697px
$check-y: 788px
$check-offset-x: -1697px
$check-offset-y: -788px
$check-width: 22px
$check-height: 17px
$check-total-width: 1774px
$check-total-height: 1623px
$check-image: 'sprite.png'
$check: (1697px, 788px, -1697px, -788px, 22px, 17px, 1774px, 1623px, 'sprite.png', 'check', )
$confetti-name: 'confetti'
$confetti-x: 1347px
$confetti-y: 523px
$confetti-offset-x: -1347px
$confetti-offset-y: -523px
$confetti-width: 105px
$confetti-height: 187px
$confetti-total-width: 1774px
$confetti-total-height: 1623px
$confetti-image: 'sprite.png'
$confetti: (1347px, 523px, -1347px, -523px, 105px, 187px, 1774px, 1623px, 'sprite.png', 'confetti', )
$gift-box-name: 'gift-box'
$gift-box-x: 0px
$gift-box-y: 0px
$gift-box-offset-x: 0px
$gift-box-offset-y: 0px
$gift-box-width: 334px
$gift-box-height: 1014px
$gift-box-total-width: 1774px
$gift-box-total-height: 1623px
$gift-box-image: 'sprite.png'
$gift-box: (0px, 0px, 0px, 0px, 334px, 1014px, 1774px, 1623px, 'sprite.png', 'gift-box', )
$gift-box2-name: 'gift-box2'
$gift-box2-x: 0px
$gift-box2-y: 1024px
$gift-box2-offset-x: 0px
$gift-box2-offset-y: -1024px
$gift-box2-width: 253px
$gift-box2-height: 599px
$gift-box2-total-width: 1774px
$gift-box2-total-height: 1623px
$gift-box2-image: 'sprite.png'
$gift-box2: (0px, 1024px, 0px, -1024px, 253px, 599px, 1774px, 1623px, 'sprite.png', 'gift-box2', )
$gift-box3-name: 'gift-box3'
$gift-box3-x: 711px
$gift-box3-y: 0px
$gift-box3-offset-x: -711px
$gift-box3-offset-y: 0px
$gift-box3-width: 365px
$gift-box3-height: 682px
$gift-box3-total-width: 1774px
$gift-box3-total-height: 1623px
$gift-box3-image: 'sprite.png'
$gift-box3: (711px, 0px, -711px, 0px, 365px, 682px, 1774px, 1623px, 'sprite.png', 'gift-box3', )
$gift-box4-name: 'gift-box4'
$gift-box4-x: 344px
$gift-box4-y: 0px
$gift-box4-offset-x: -344px
$gift-box4-offset-y: 0px
$gift-box4-width: 357px
$gift-box4-height: 832px
$gift-box4-total-width: 1774px
$gift-box4-total-height: 1623px
$gift-box4-image: 'sprite.png'
$gift-box4: (344px, 0px, -344px, 0px, 357px, 832px, 1774px, 1623px, 'sprite.png', 'gift-box4', )
$gift-box5-name: 'gift-box5'
$gift-box5-x: 1524px
$gift-box5-y: 0px
$gift-box5-offset-x: -1524px
$gift-box5-offset-y: 0px
$gift-box5-width: 250px
$gift-box5-height: 760px
$gift-box5-total-width: 1774px
$gift-box5-total-height: 1623px
$gift-box5-image: 'sprite.png'
$gift-box5: (1524px, 0px, -1524px, 0px, 250px, 760px, 1774px, 1623px, 'sprite.png', 'gift-box5', )
$gift-box6-name: 'gift-box6'
$gift-box6-x: 1086px
$gift-box6-y: 0px
$gift-box6-offset-x: -1086px
$gift-box6-offset-y: 0px
$gift-box6-width: 428px
$gift-box6-height: 513px
$gift-box6-total-width: 1774px
$gift-box6-total-height: 1623px
$gift-box6-image: 'sprite.png'
$gift-box6: (1086px, 0px, -1086px, 0px, 428px, 513px, 1774px, 1623px, 'sprite.png', 'gift-box6', )
$linear-sm-name: 'linear-sm'
$linear-sm-x: 1697px
$linear-sm-y: 770px
$linear-sm-offset-x: -1697px
$linear-sm-offset-y: -770px
$linear-sm-width: 45px
$linear-sm-height: 8px
$linear-sm-total-width: 1774px
$linear-sm-total-height: 1623px
$linear-sm-image: 'sprite.png'
$linear-sm: (1697px, 770px, -1697px, -770px, 45px, 8px, 1774px, 1623px, 'sprite.png', 'linear-sm', )
$linear-name: 'linear'
$linear-x: 1524px
$linear-y: 908px
$linear-offset-x: -1524px
$linear-offset-y: -908px
$linear-width: 115px
$linear-height: 20px
$linear-total-width: 1774px
$linear-total-height: 1623px
$linear-image: 'sprite.png'
$linear: (1524px, 908px, -1524px, -908px, 115px, 20px, 1774px, 1623px, 'sprite.png', 'linear', )
$year-name: 'year'
$year-x: 1086px
$year-y: 753px
$year-offset-x: -1086px
$year-offset-y: -753px
$year-width: 252px
$year-height: 109px
$year-total-width: 1774px
$year-total-height: 1623px
$year-image: 'sprite.png'
$year: (1086px, 753px, -1086px, -753px, 252px, 109px, 1774px, 1623px, 'sprite.png', 'year', )
$spritesheet-width: 1774px
$spritesheet-height: 1623px
$spritesheet-image: 'sprite.png'
$spritesheet-sprites: ($ball-2, $ball, $box, $candy, $check, $confetti, $gift-box, $gift-box2, $gift-box3, $gift-box4, $gift-box5, $gift-box6, $linear-sm, $linear, $year, )
$spritesheet: (1774px, 1623px, 'sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
