+comment('general style')

+cm('png icons')
+ic
@if (global-variable-exists(spritesheet-sprites))
  @each $sprite in $spritesheet-sprites
    .ic--#{nth($sprite, 10)}
      &:before
        +bs($sprite)

+cm('svg icons')
+svg
@if (global-variable-exists(svg-spritesheet-sprites))
  @each $sprite in $svg-spritesheet-sprites
    .svg--#{nth($sprite, 1)}
      +svgi($sprite)

+cm('form')
.text-danger
  color: $text-danger
  text-align: left
.form-group.has-error
  .form-control 
    color: $form-control-error-border-color
    border: 2px solid $form-control-error-border-color
[type=submit]:disabled
  animation: progress-bar-stripes 2s linear infinite
  background-image: $btn-submit-loading-bg
  background-size: 40px 40px
@keyframes progress-bar-stripes
  from
    background-position: 40px 0
  to
    background-position: 0 0

+cm('modal')
.modal
  -webkit-overflow-scrolling: touch
  transform: translateZ(0) 
.modal.show 
  display: flex !important
  align-items: center
.modal-dialog
  position: relative
  margin: auto
.html, 
.body
  display: flex
  margin: 0
.body
  flex-direction: column
  flex: 0 0 100%
  max-width: 100%
  min-height: 100vh
.main
  flex-grow: 1
a,
button
  outline: none !important
  &:hover,
  &:focus
    outline: none !important
.h-100
  height: 100%
+cm("heading")
.heading
  position: relative
  font: 400 26px/40px $main-font
  color: #212121
  text-align: center
  &--curl
    padding-top: 42px
    &:before
      content: ''
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
      width: 60px
      height: 22px
      background: url(../img/icons/curl.png) no-repeat 50% 50%
      background-size: contain
  &--white
    color: #fff
  &--left
    text-align: left
  &__line
    margin-top: 39px
+r(768)
  .heading
    font-size: 36px
    line-height: 40px
    &__line
      margin-top: 33px

+cm("button")
a,
button
  outline: none
  &:hover,
  &:focus
    outline: none
.btn
  position: relative
  display: inline-flex
  flex-wrap: wrap
  flex-direction: column
  justify-content: center
  align-items: center
  margin-bottom: 25px
  padding: 15px 30px 
  border: 0 none
  min-height: 61px
  box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5), inset 0 0 2px rgba(227, 145, 101, 0.29)
  background-image: linear-gradient(to top, #bc692b 0%, #cf752f 35%, #f4ab59 78%, #fcd29d 100%)
  background-position: 50% 0%
  border-radius: 61px
  white-space: normal
  font: 500 18px/24px $main-font
  text-shadow: 0 1px 0 #853e09, 0 0 29px rgba(255, 255, 255, 0.35);
  color: #fff
  cursor: pointer
  text-decoration: none
  transition: all .3s ease-out
  &:before,
  &:after
    content: ''
    position: absolute
    margin: auto
    top: 0
    right: 0
    bottom: 0
    left: 0
    height: 100%
    border-radius: inherit
    transition: all .15s ease-out
    z-index: -1
  &:before
    bottom: -10px
    width: 100%
    box-shadow: 0 1px 21px rgba(0, 0, 0, 0.13)
    border: 1px solid #c47b54
    background-color: #d28743
  &:after
    bottom: -10px
    width: calc(100% - 15px)
    box-shadow: 0 15px 51px rgba(250, 182, 85, 0.7)
    z-index: -2
  &:hover,
  &:focus
    background-image: linear-gradient(to top, #bc692b 0%, #cf752f 35%, #f4ab59 78%, #fcd29d 100%) !important
    background-position: 50% 100%
    box-shadow: none
    color: #fff
    text-decoration: none
  &:active
    top: 3px
    &:before,
    &:after
      transform: translateY(-3px)
  &--size
    width: 100%
  &--sm
    min-width: 220px
  &__icon
    position: absolute
    right: 30px
    top: 50%
    font-size: 20px
    margin-top: -10px
.btn-groups
  position: relative
  z-index: 1
+r(768)
  .btn
    font-size: 20px
    line-height: 26px
.hidden-accessible
  border: 0 !important
  clip: rect(0 0 0 0) !important
  height: 1px !important
  margin: -1px !important
  overflow: hidden !important
  padding: 0 !important
  position: absolute !important
  width: 1px !important
+r(992)
  .btn
    &__icon
      right: 60px   
+comment("home page style")

+comment("section panel style")
.fd-panel
  position: fixed
  bottom: 35px
  left: 35px
  z-index: 102
  &--hidden
    display: none
  &__close
    position: absolute
    top: 5px
    left: 5px
.btn-close
  padding: 10px
  box-shadow: none
  background: transparent
  border: 0 none
  cursor: pointer
  color: #fff
  font-size: 0
  line-height: 0
  transition: all .3s ease-out
  z-index: 99
  &:hover,
  &:focus
    transform: scale(1.5)
+comment("section header style")

.header
  position: relative  
  height: 100%
  background: url(../img/headerbg.jpg) no-repeat
  background-size: cover
  overflow: hidden
+r(768)
  .header
    &__box
      height: 100vh
      min-height: 600px
    &__content
      height: 100%    
.intro
  display: flex  
  flex-direction: column  
  height: 100%
  &__menu
    flex: 0 0 auto
    max-width: 100%
  &__content
    flex-grow: 1
    padding: 44px 0 22px
.menu
  padding-top: 15px
.logo
  &--white
    color: #fff 
  &__image
    text-align: center 
    margin-bottom: 10px 
  &__img
    display: inline-block 
  &__text
    margin: 0
    font: 400 14px/21px $main-font
    text-align: center
.h-call
  margin-bottom: 15px
  &__number
    display: inline-block
    font: 400 22px/24px $main-font
    text-decoration: none
    color: #212121
    transition: all .3s ease
    &--white
      color: #fff
    &:hover,
    &:focus
      text-decoration: none
      color: #fab655
  &__button
    display: inline-block  
    font: 500 17px/21px $main-font
    text-shadow: 0 0 10px rgba(250, 182, 85, 0.4)
    color: #fab655
    text-decoration: underline
    transition: all .3s ease 
    &:hover,
    &:focus
      text-decoration: none
      color: #fab655 * 1.2
.h-content
  &__image
    text-align: center
  &__img
    display: inline-block
  &__subtitle
    font: 300 italic 28px/40px $main-font
    color: #fff
    text-align: center
    margin: 0 0 25px
  &__title
    font: 500 28px/45px $main-font 
    color: #fff
    text-align: center
    margin-bottom: 20px
  &__btn
    text-align: center  
.h-list
  list-style-type: none
  margin-bottom: 35px
  &__item
    position: relative
    color: #fff
    font: 400 14px/21px $main-font
    margin-bottom: 20px   
  &__icon
    position: absolute
    top: 0
    left: -30px  
+r(768)
  .header
  .menu
    padding-top: 10px
  .logo
    &__col
      display: flex !important
    &__text
      text-align: left
      position: relative
      left: -15px   
    &__image
      margin-bottom: 0  
  .h-call
    &__number
      font: 400 24px/24px $main-font 
    &__button
      font: 500 19px/24px $main-font 
  .h-content
    &__subtitle
      margin-bottom: 10px
    &__title
      font: 500 35px/54px $main-font
      margin-bottom: 30px
  .h-list
    &__item
      font: 400 24px/24px $main-font
      margin-bottom: 25px       
+r(992)
  .h-content
    &__subtitle
      text-align: left  
      font: 300 italic 26px/40px $main-font 
    &__title
      text-align: left   
      font: 500 31px/54px $main-font   
    &__image
      position: relative
    &__img
      position: absolute
      left: 0
      top: 0
      margin-top: -120px
      margin-left: -100px
      max-width: none         
  .h-list
    padding-left: 75px     
+r(1200)
  .h-content
    &__img
      margin-left: -75px      
    &__subtitle
      font: 300 italic 30px/40px $main-font 
    &__title
      text-align: left   
      font: 500 38px/54px $main-font     

+comment("section video style")

.video
  position: relative
  padding-bottom: 140px
  background: url(../img/sugrob1.png) no-repeat
  background-size: contain
  background-position: 50% bottom
  &:before
    display: block
    content: ''
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 140px
    z-index: 5
    background: #fff
  &__bg
    position: absolute
    display: inline-block
    width: 100%
    height: 279px
    bottom: 0
    left: 0
    background: url(../img/sugrob2.png) no-repeat
    background-size: cover
    z-index: 20
  &__row
    height: 100%  
  
+r(768)
  .video
    padding-top: 110px
+r(992)
  .video
    padding-top: 40px

+comment("section split style")
.split
  position: relative
  background-size: cover
  z-index: 1
  &--1
    background: #f4f4f5 url(../img/split-bg.png) no-repeat 50% 0
  &--2
    background: #fbf9fa url(../img/split-bg-2.png) no-repeat 50% 0
  &--3
    background: #fff url(../img/split-bg-3.png) no-repeat 50% 0
  &__icon
    position: absolute
    &--1
      top: -340px
      left: 0
    &--2
      right: 0
      bottom: -130px
    &--3,
    &--4
      display: none
    &--3
      top: -274px
      left: 0
    &--4
      right: 0
      bottom: 50px
+r(1450)
  .split
    &__icon
      &--3,
      &--4
        display: inline-block
+comment("section about style")
.about
  padding: 50px 0
  &__heading
    margin-bottom: 40px
  &__descr
    margin-bottom: 23px
.bt-descr
  font: 400 24px/36px $main-font
  color: #212121
.icons-group
  position: relative
  &__box
    position: absolute
    left: -100px
    top: 50px
+r(768)
  .about
    &__heading
      margin-bottom: 68px
    &__descr
      margin-bottom: 30px
+r(992)
  .about
    &__heading
      margin-bottom: 12px
    &__descr
      margin: 56px 0 0
+r(1200)
  .icons-group
    &__box
      position: static

+comment("section preview style")
.preview
  background-image: url(../img/sugrob2.png)
  background-position: 50% 100%
  background-repeat: no-repeat

.form
  text-align: center
  &--desk
    padding: 69px 15px
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2)
    background-color: #fff
.radio-btn
  &__control
    position: absolute
    width: 1px  
    height: 1px
    overflow: hidden
    clip: rect(0 0 0 0)
    &:checked + .radio-btn__box
      .radio-btn__icon
        background-color: rgba(244, 171, 89, 0.37)
        box-shadow: inset 0 4px 7px #f4ab59
  &__box
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: center
    justify-content: center
    margin: 0
    font: 400 18px/18px $main-font
    color: #212121
  &__icon
    position: relative
    display: inline-block
    width: 20px
    height: 20px
    margin-right: 5px
    box-shadow: inset 0 4px 7px #c6b4a3
    border: 2px solid #e3e3e3
    background-color: #fff
    border-radius: 50%

    //&:before
    //  content: ''
    //  position: absolute
    //  display: block
    //  margin: auto
    //  width: 50%
    //  height: 50%
    //  border-radius: inherit
    //  top: 0
    //  right: 0
    //  bottom: 0
    //  left: 0
    //  opacity: 0
    //  background-color: #f4ab59
    //  box-shadow: 0 4px 7px 5px #f4ab59
    //  transition: all .2s ease-out
.form-control
  padding: 22px 25px 19px
  box-shadow: inset 2px 4px 7px #c6b4a3
  background-color: #fff
  border: 2px solid #e3e3e3
  border-radius: 55px
  font: 400 16px/19px $main-font
  &:focus
    box-shadow: inset 2px -4px 7px #c6b4a3
    border-color: #e3e3e3
    color: #988e7e
  +placeholder
    color: #988e7e
    text-transform: none
  &--promo
    text-transform: uppercase
.info
  display: inline
  border-bottom: 1px dashed currentColor
  font: 400 18px/27px $main-font
  color: #43131f
  text-decoration: none
  transition: all .3s ease-out
  &:hover,
  &:focus
    text-decoration: none
    color: #43131f + #d07630
.select2-container--default 
  .select2-dropdown
    &--below,
    &--above
      border: none
      background-color: transparent
  .select2-selection--single 
    height: 59px
    border: none
    .select2-selection
      &__rendered
        padding: 20px 25px
        box-shadow: inset 2px 4px 7px #c6b4a3
        border: 2px solid #e3e3e3
        background-color: #fff
        border-radius: 55px
        text-align: left
        font: 400 16px/19px $main-font
        color: #988e7e
        transition: all .3s ease-out
      &__arrow
        height: 13px
        right: 27px
        top: 50%
        transform: translateY(-50%)
        transform-origin: 50% 50%
        transition: all .3s ease-out
      &__icon
        color: #988e7e
.select2-container--open
  &.select2-container--default 
    .select2-selection--single 
      .select2-selection
        &__rendered
          outline: none
          box-shadow: inset 2px -4px 7px #c6b4a3
          border-color: #e3e3e3

        &__arrow
          transform: translateY(-50%) rotate(180deg)
.select2-results
  width: calc(100% - 44px)
  margin: 0 auto
  box-shadow: -1px 4px 27px #c6b4a3
  background-color: #fff
+r(768)
  .form
    &--desk
      padding: 67px 37px

+comment("section gift style")
.gift
  padding: 50px 0 60px
  overflow: hidden
.package
  &__box
    display: inline-block
    background: url(../img/packagebg.png) no-repeat
    background-position: center center
    height: 739px
    width: 320px
    margin: 25px -15px 0
  &__content
    position: relative
    padding-top: 120px
    width: 290px
    margin: 0 auto
    text-align: center
  &__img
    position: relative
    left: -142px
    margin-top: -140px
    max-width: none  
  &__type
    position: relative
    display: inline-block
    font: 500 24px/30px $font-neumann
    color: #212121
    margin-bottom: 20px
  &__icon
    position: absolute 
    top: 0
    &--left
      left: -60px
    &--right
      right: -60px  
  &__info
    font: 400 18px/27px $main-font
    color: #212121    
    margin-bottom: 30px
  &__cost
    font: 500 18px/27px $main-font
    color: #fab655
    margin-bottom: 10px
    text-transform: uppercase  
  &__price  
    font: 400 24px/30px $font-neumann
    color: #212121
    margin-bottom: 25px  
  &__candy
    position: absolute
    left: -110px
    top: 300px
  &__confetti
    position: absolute
    right: -95px
    top: 380px
+r(576)
  .package
    background: url(../img/giftbg.png) no-repeat
    background-size: contain
    background-position: center 160px
    &__content
      width: 300px  
    &__box  
      width: 523px      
+r(768)   
  .package
    background-size: cover 
+r(992)
  .package
    background-size: auto    
+comment("section example style")
.example
  overflow: hidden
  padding: 93px 0 131px
  background: url(../img/giftbgs.png) no-repeat
  &__img
    max-width: 400px
    margin: 45px -55px 0
  &__heading
    margin-bottom: 25px
  &__box
    position: relative
  &__icon
    position: absolute  
    top: 50%
    left: 50%
    margin-left: -42px
    margin-top: -80px
  &__year
    margin-bottom: 48px
.year
  font: 400 120px/125px $font-neumann
  color: #f0ae64
.mp-play
  position: relative
  display: inline-flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  height: 84px
  width: 84px
  border-radius: 50%
  background-color: #f7d68f
  box-shadow: 2px 3.5px 0 rgba(250, 182, 85, 0.75), 0 0 55px rgba(250, 182, 85, 0.35)  
  text-align: center
  z-index: 30
  text-decoration: none
  &:hover,
  &:focus
    text-decoration: none
  &--sm
    width: 45px
    height: 45px
  &__icon
    position: relative
    right: -4px
    font-size: 22px
    color: #814f06 
.vd-video
  position: relative
  display: inline-block
  &:after
    content: ''
    position: absolute
    margin: auto
    width: 130%
    height: 0
    bottom: -20px
    left: 50%
    transform: translateX(-50%)
    box-shadow: 0 0 24px 4px rgba(0, 0, 0, 0.26)
  &__descr
    position: absolute
    top: 50%
    left: 50%
    width: 100%
    transform: translate(-50%, -50%)
    text-align: center
    z-index: 25
  &__text 
    margin-bottom: 20px
    padding-top: 30px
    font: 400 28px/40px $main-font 
    color: #fff
    margin-bottom: 20px 
.gg-text
  font: 400 28px/40px $main-font 
  color: #212121
  &--sm
    font-size: 18px
    line-height: 20px
  &--white
    color: #fff
+r(768)
  .example
    &__heading
      text-align: left
    &__year
      margin: 0

+comment("section discount style")

.discount
  position: relative
  margin-bottom: -200px
  padding: 50px 0 283px
  background-image: url(../img/letter.png)
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 50%
  z-index: 2
  &__heading
    margin-bottom: 50px
  &__descr
    margin-bottom: 26px
  &__price
    margin-bottom: 26px
  &__countdown
    margin-bottom: 46px
    text-align: center
  &__notify
    margin-bottom: 34px
    text-align: center
.descr
  font: 500 24px/36px $main-font
  color: #212121
  text-align: center
  &--white
   color: #fff
.countdown
  &__heading
    margin-bottom: 17px
.timer
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: center
  &__item
    margin: 10px 5px
  &__time
    margin-bottom: 11px
    font: 400 58px/68px $font-neumann
    color: #fff
    text-transform: uppercase
  &__text
    display: block
    font: 400 14px/16px $main-font
    color: #fab655
    text-transform: uppercase
    text-align: center
.cd-heading
  font: 400 22px/36px $font-neumann
  color: #fab655
  text-transform: uppercase
  letter-spacing: 1.1px
.price
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  &__item
    position: relative
    margin: 13px 15px
    padding-bottom: 20px
  &__value
    margin-right: 6px
    font: 400 48px/50px $font-neumann
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.35)
    color: #e3e3e3
    &:after
      content: attr(data-label)
      position: absolute
      margin-bottom: -4px
      bottom: 0
      left: 50%
      transform: translateX(-50%)
      padding: 2px 7px 3px
      background-color: #e6ebed
      font: 300 18px/20px $main-font
      color: #212121
      text-align: center
      white-space: nowrap
  &__currency
    font: 400 16px/32px $font-neumann
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.35)
    color: #e3e3e3
.notify
  font: 500 20px/30px $main-font
  color: #fff
+r(768)
  .discount
    margin-bottom: -100px
    padding: 42px 0 228px
    &__heading
      margin-bottom: 69px
    &__descr
      margin-bottom: 24px
      text-align: left
    &__countdown
      margin-bottom: 23px
      text-align: left
    &__notify
      margin-bottom: 25px
      text-align: left
  .timer
    justify-content: flex-start
  .price
    &__value
      position: relative
      margin: 0
      font-size: 66px
      line-height: 70px
      &:after
        margin-left: -10px
        top: 22px
        left: 100%
        bottom: auto
        transform: translateX(0)
        font-size: 13px
        line-height: 15px
    &__currency
      font-size: 21px
      line-height: 23px
+r(992)
  .price
    &__item
      &--2
        transform: translateX(-50%)
      &--3
        transform: translateX(-100%)
    &__value
      font-size: 92px
      line-height: 96px
      &:after
        margin-left: -15px
        padding: 5px 9px
        top: 30px
        font-size: 18px
        line-height: 22px
    &__currency
      font-size: 30px
      line-height: 34px

+comment("section comments style")

.comments
  padding: 45px 0 50px
  &__heading
    margin-bottom: 49px 
  &__box
    text-align: center
+r(768)
  .comments
    padding: 12px 0 
    &__heading
      margin-bottom: 65px

+comment("section service style")
.service
  padding-top: 100px
  &__heading
    margin-bottom: 45px
.sv-item
  text-align: center
  margin-bottom: 35px
  &__bg
    position: absolute
    top: 0
    left: 50%  
    margin-left: -81.5px
  &__photo
    position: relative
    display: flex
    justify-content: center
    align-items: center
    margin: 0 auto 17px
    width: 128px
    height: 128px
    border-radius: 20px
    background-color: #feb959
    &:before
      content: ''
      position: absolute
      display: block
      width: 130%
      height: 0
      bottom: 0
      left: 50%
      transform: translateX(-50%)
      box-shadow: 0 0 18px 3px #f5bc5e
  &__icon
    position: relative
    font-size: 30px
    color: #be8739
    z-index: 10
  &__text
    font: 400 18px/27px $main-font
    color: #212121
    margin: 0
+r(768)    
  .service
    padding-bottom: 100px
    &__heading
      margin-bottom: 65px

+comment("section faq style")
.faq
  position: relative
  margin-top: -50px
  padding-top: 100px  
  padding-bottom: 25px
  background: url(../img/faqbg320.png) no-repeat
  background-size: cover 
  background-position: center center   
  z-index: 1
  &__heading
    margin-bottom: 45px         
.panel
  box-shadow: none
  background: transparent
  padding-bottom: 15px
  &-group
    position: relative
    z-index: 25
  &__title
    padding-bottom: 15px
    margin-bottom: 0
    border-bottom: 1px solid #874d5b
  &__heading
    border: 0 !important
  &__body
    border: 0 !important  
  &__link
    position: relative
    display: block
    color: #fff
    font: 400 20px/27px $main-font  
    padding-right: 30px
    &:hover,
    &:focus
      text-decoration: none
      color: #fff
  &__text  
    color: #fff
    font: 400 16px/24px $main-font 
    padding-left: 10px
  &__icon
    position: absolute
    right: 0
    top: 50%
    margin-top: -10px
    display: inline-block
    height: 20px
    width: 21px 
  &__ic
    position: relative
    transition: all .2s ease
    &.minus
      cursor: pointer
      transform: rotate(180deg)   
+r(768)
  .faq
    background-position: 50% center   
    padding-bottom: 0
    &__heading
      margin-bottom: 65px
  #accordion
    min-height: 570px              
+r(992)
  .faq
    padding-bottom: 45px
    padding-top: 160px
    margin-top: -150px
    background: url(../img/faqbg.png) no-repeat
    background-size: cover 
    background-position: center center 
  #accordion
    min-height: 550px 

+comment("section dream style")    
.dream
  position: relative
  padding: 50px 0 
  &__icon
    position: absolute
    top: -92px
    left: 0
    z-index: 1
  &__heading
    margin-bottom: 47px
  &__descr
    margin-bottom: 40px
  &__img
    z-index: 1
.dm-descr
  font: 400 24px/36px $font-neumann
  color: #212121
+r(768)
  .dream
    padding: 80px 0 50px
    &__heading
      margin-bottom: 42px
    &__descr
      margin-bottom: 58px
+r(992)
  .dream
    &__heading
      text-align: left
+r(1600)      
  .dream
    &__box
      position: relative
      height: 650px
    &__img
      position: absolute
      top: 0
      right: 0
      max-width: none
+comment("section footer style")
.footer
  padding: 85px 0 20px
  background: #fff url(../img/footer-bg.png) no-repeat scroll 50% 0
  background-size: cover
.partner
  text-align: center
.copyright
  margin: 20px 0
  font: 400 14px/17px $font-neumann
  color: #212121
+r(768)
  .footer
    background-size: auto

+comment("section modal style")
.modal
  &-content
    box-shadow: 0 20px 40px rgba(67, 19, 31, 0.25)
    border: 0
  &-video
    &__content
      padding: 0  
  &__icon
    position: absolute
    &--1
      top: -45px
      left: -56px
    &--2
      right: 0
      bottom: 0
  &__close
    position: absolute
    padding: 15px !important
    top: 0
    right: 0
.close
  line-height: 0
  cursor: pointer
  transition: all .3s ease-out
  z-index: 1
  &:hover,
  &:focus
    transform: scale(1.5)
  &__icon
    font-size: 30px
.modal-content
  padding: 25px 15px
.sv-descr
  font: 300 16px/24px $main-font
  color: #212121
+r(768)
  .modal-content
    padding: 54px 80px  
+r(992)
  .modal-content
    padding: 61px 98px 
+r(1200)
  .modal
    &__close
      top: -45px
      right: -45px
      opacity: 1
      color: #fff
      &:hover,
      &:focus
        color: #f7b76d
        opacity: 1
.modal-video__content
  padding: 0    
  width: 320px
  max-width: 320px     
.modal
  &__close--video
    top: -50px
  &__content
    padding: 0
    width: 320px
  &__body
    position: relative
    height: 180px
  &__iframe
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
+r(768)
  .modal
    &__body
      height: 394px
    &__content
      width: 500px    
      height: 360px
      height: 280px
  .modal-video
    width: 700px
    max-width: 700px  
  .modal-video__content 
    width: 700px
    max-width: 700px 
+r(992)
  .modal-video
    width: 900px
    max-width: 900px
  .modal-video__content 
    width: 900px
    max-width: 900px  
  .modal
    &__content
      width: 800px
      height: 400px      
    &__body
      height: 506px
.kid
  &__content
    padding: 15px 
    box-shadow: 0 0 140px rgba(250, 182, 85, 0.8)
  &__descr
    color: #212121
    font: 400 20px/30px $main-font
  &__text
    color: #212121
    font: 400 16px/24px $main-font
    padding: 10px 15px
    background: #ffecdb
    margin-bottom: 25px !important
+r(768)
  .kid
    &__dialog
      max-width: 560px  
    &__content
      padding: 50px     
    &__icon
      position: absolute
      &--1
        left: -120px
        top: -70px
      &--2
        bottom: -150px
        right: -55px
+comment("section tabs style")

.tabs
  margin: 0 -15px
  overflow: hidden
  &__item
    padding: 35px 15px 0 
    position: relative
    display: none
    height: 100%
    background-color: #fff
    text-align: left
    &--active
      display: block
  &__radio-group
    margin-bottom: 20px    
  &__heading
    text-align: center    
    margin-bottom: 30px
  &__text
    color: #212121
    font: 400 14px/21px $main-font
    text-align: center
  &__promo
    margin-bottom: 35px     
.tabs-control
  display: flex
  flex-wrap: wrap
  flex-direction: row
  align-items: center
  justify-content: center
  margin: 
    left: -2px
    right: -2px
  &__item
    flex-basis: 0  
    flex-grow: 1  
    max-width: 100%
    padding: 0 2px
  &__link
    display: block
    padding: 8px 
    border-radius: 6px 6px 0 0
    box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.5), inset 0 0 2px rgba(227, 145, 101, 0.29);
    border: 1px solid rgba(0, 0, 0, 0);
    background-image: linear-gradient(to top, #fcd29d 0%, #f4ab59 21%, #cf752f 73%, #bc692b 100%);
    font: 500 14px/14px $main-font
    color: #853e09
    transition: all .3s ease
    &:hover,
    &:focus
      text-decoration: none
      color: #853e09
      opacity: .8
    &--active
      background-image: linear-gradient(to bottom, #fcd29d 0%, #f4ab59 21%, #cf752f 73%, #bc692b 100%)
      color: #fff
      &:hover,
      &:focus
        color: #fff
        opacity: 1
.total-price
  margin-bottom: 80px      
.total-row
  margin-bottom: 20px  
.total-discount
  color: #fab655
  font: 500 18px/20px $main-font
  border-bottom: 1px dashed #fab655  
  transition: all .2s ease  
  &:hover,
  &:focus
    text-decoration: none
    border-bottom: 1px dashed #0056b3    
.tb-price
  font: 400 italic 18px/28px $main-font
  color: #212121 
.nt-price
  color: #fab655
  font: 400 24px/24px $font-neumann        
.radio-btn
  &--size
    margin: 25px 0 35px
    width: 100%  
  &__box
    justify-content: start
    padding-left: 5px
.js-promo
  color: #fab655
  font: 500 18px/20px $main-font
  border-bottom: 1px dashed #fab655  
  transition: all .2s ease  
  &:hover,
  &:focus
    text-decoration: none
    border-bottom: 1px dashed #0056b3
.quiz__btn
  display: inline-block
  color: #fab655
  font: 400 18px/20px $main-font
  border-bottom: 1px dashed #fab655  
  transition: all .2s ease  
  margin-bottom: 50px
  &:hover,
  &:focus
    text-decoration: none
    border-bottom: 1px dashed #0056b3
.btn--file
  position: relative
  cursor: pointer   
  margin-bottom: 50px  
  text-align: left
+r(768)
  .tabs
    margin: 0 -39px
    &__heading
      text-align: left
    &__item
      padding: 35px 30px 0 
      border-radius: 10px
    &__control
      margin-bottom: -10px
    &__radio-group
      padding-left: 5px
    &__text
      text-align: left  
  .tabs-control
    justify-content: flex-start
    margin: 
      left: -5px
      right: -5px
    &__item
      padding: 0 5px
      flex: 0 0 auto 
      width: auto
      max-width: none
      width: 165px
    &__link
      padding: 15px 13px 20px
  .quiz__btn
    margin: 0
    padding-top: 25px    
+r(992)
  .tabs
    margin: 0  

+comment("crop image styles")
.avatar
  opacity: 0
  transition: all .3s ease-out
  &--active
    opacity: 1
  &__photo
    margin-bottom: 10px
  &__img
    max-width: 100%
    height: auto
    max-height: 300px
    margin: auto
    display: block
.avatar-view
  display: block

.avatar-body
  padding-right: 15px
  padding-left: 15px

.avatar-upload
  overflow: hidden
  label
    display: block
    float: left
    clear: left
    width: 100px
  input
    display: block
    margin-left: 110px

.avatar-alert
  margin-top: 10px
  margin-bottom: 10px

.avatar-wrapper
  height: 364px
  width: 100%
  margin-top: 15px
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25)
  background-color: #fcfcfc
  overflow: hidden
  img
    display: block
    height: auto
    max-width: 100%

.avatar-preview
  float: left
  margin-top: 15px
  margin-right: 15px
  border: 1px solid #eee
  border-radius: 4px
  background-color: #fff
  overflow: hidden
  &:hover
    border-color: #ccf
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15)
  img
    width: 100%

.preview-lg
  height: 184px
  width: 184px
  margin-top: 15px

.preview-md
  height: 100px
  width: 100px

.preview-sm
  height: 50px
  width: 50px

@media (min-width: 992px)
  .avatar-preview
    float: none

.avatar-btns
  margin-top: 30px
  margin-bottom: 15px
  .btn-group
    margin-right: 5px

.loading
  display: none
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: #fff url("../img/icons/loading.gif") no-repeat center center
  opacity: .75
  filter: alpha(opacity = 75)
  z-index: 20140628

+comment("friday page style")
.header-friday
  position: relative
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 100%
    display: block
    background: url(../img/fridaybg.png) no-repeat
    background-size: cover
    z-index: 15
  &__video
    position: absolute
    top: 0
    left: 0
    width: 100%
.header__box--friday
  position: relative
  z-index: 20    
.h-content
  &__subtitle
    &--friday
      font: 400 30px/40px $main-font
      color: #fff
      margin-bottom: 30px
    &--span
      font: 700 30px/40px $main-font
      color: #fab655
.sell
  margin-bottom: 45px
  text-align: center
  &__text
    display: inline-block
    color: #fab655
    font: 400 50px/50px $font-neumann
    &--span
      font: 400 24px/30px $font-neumann
  &__old
    position: relative
    display: inline-block 
    font: 400 30px/40px $font-neumann       
    color: #212121
    background: #fab655
    padding: 0 3px
    margin-left: 10px
    position: relative
    top: -5px
    &:before
      content: ''
      position: absolute
      display: inline-block
      left: 10px
      top: 20px
      width: 40px
      height: 2px
      background: #212121
      transform: rotate(-45deg)
    &--span
      font: 400 18px/20px $font-neumann  
.mp-play--friday
  height: 180px
  width: 180px
  box-shadow: 0 4px 0 rgba(250, 182, 85, 0.75), 0 0 55px rgba(250, 182, 85, 0.35)      
+r(992)
  .sell
    text-align: left      