extends base/_layout.pug
block variables

block header
  //-include partials/_panel.pug
  include partials/_headerB.pug
block content
  include partials/_split.pug
  include partials/_split2.pug
  include partials/_discount.pug
  include partials/_split3.pug
  include partials/_faq.pug
  include partials/_dream.pug
  
block footer
  include partials/_footer.pug
block modal
  include partials/_modal.pug

block styles

block scripts

  // CRM AMO
  script.
    var amo_social_button = {id: 3324, hash: "c0f3fc79deb5c762002d0eaec20b1cdec73ad6904e7f99b643097abe976effad", locale: "ru"};
  script#amo_social_button_script(async='async', src='https://gso.amocrm.ru/js/button.js')
