extends base/_layout.pug
block variables

block styles

block scripts
  script.
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.11';
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));



block header
  include partials/_header.pug
block content
  include partials/_preview.pug
  include partials/_discount.pug
  include partials/_double.pug
  
block footer
  include partials/_footer.pug
block modal
  include partials/_modal.pug
