extends base/_layout.pug
block variables

block header
  //-include partials/_panel.pug
  include partials/_header.pug
block content
  include partials/_split.pug
  include partials/_split2.pug
  include partials/_discount.pug
  include partials/_split3.pug
  include partials/_faq.pug
  include partials/_dream.pug
  
block footer
  include partials/_footer.pug
block modal
  include partials/_modal.pug

block styles
block head

block scripts
  // CRM AMO
  script.
    var amo_social_button = {id: 3324, hash: "c0f3fc79deb5c762002d0eaec20b1cdec73ad6904e7f99b643097abe976effad", locale: "ru"};
  script#amo_social_button_script(async='async', src='https://gso.amocrm.ru/js/button.js')
  // Google Analytics Content Experiment code
  script.
    function utmx_section() {}

    function utmx() {}(function() {
        var
            k = '165100150-0',
            d = document,
            l = d.location,
            c = d.cookie;
        if (l.search.indexOf('utm_expid=' + k) > 0) return;
    
        function f(n) {
            if (c) {
                var i = c.indexOf(n + '=');
                if (i > -1) {
                    var j = c.
                    indexOf(';', i);
                    return escape(c.substring(i + n.length + 1, j < 0 ? c.length : j))
                }
            }
        }
        var x = f('__utmx'),
            xx = f('__utmxx'),
            h = l.hash;
        d.write(
            '<sc' + 'ript src="' + 'http' + (l.protocol == 'https:' ? 's://ssl' :
                '://www') + '.google-analytics.com/ga_exp.js?' + 'utmxkey=' + k +
            '&utmx=' + (x ? x : '') + '&utmxx=' + (xx ? xx : '') + '&utmxtime=' + new Date().valueOf() + (h ? '&utmxhash=' + escape(h.substr(1)) : '') +
            '" type="text/javascript" charset="utf-8"><\/sc' + 'ript>')
    utmx('url', 'A/B');
