extends base/_layout.pug
block variables

block styles

block scripts

block header
  include partials/_header.pug
block content
  
block footer
  include partials/_footer.pug
block modal
  include partials/_modal.pug
