extends base/_layout.pug
block variables

block header
  include partials/_order-header.pug
block content
  
block footer
block modal
  include partials/_modal.pug

block styles

block scripts
